.navbar {
  background-image: url($backgroundHeader + "header\ pattern\ svg.svg");
  background-color: black;
  @include flex($align: center);
  font-family: $font;
  font-weight: medium;

  img {
    margin: 9.5px auto 10.5px 24px;
  }

  .nav__option {
    @include flex(row-reverse, $align: center);

    #hamburger-menu {
      display: none;
    }

    img {
      margin: auto 16px;
    }

    .acc-img-nav {
      position: relative;

      #acc-badge {
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 20px;
        color: $boldColor;
        height: 16px;
        width: 16px;
        text-align: center;
        font-size: 8px;
        font-weight: bold;
        @include flex(row, center, center);
      }

      #account-image {
        margin: 12px 24px 12px 16px;
        height: 32px;
        width: 32px;
      }
    }

    .announcement {
      position: relative;
      padding-left: 16px;
      padding-right: 16px;

      img {
        margin: 0;
      }

      .badge {
        background-color: #2a7ff3;
        border-radius: 50%;
        font-size: 12px;
        color: white;
        text-align: center;
        position: absolute;
        height: 17px;
        width: 17px;
        top: -10px;
        right: 2px;
        font-weight: normal;
        @include flex(row, center, center);
      }
    }

    .alerts {
      position: relative;
      padding: 0 16px 0 16px !important;

      img {
        margin: 0;
      }

      #alert-badge {
        background-color: #2a7ff3;
        border-radius: 50%;
        font-size: 12px;
        color: white;
        text-align: center;
        position: absolute;
        height: 17px;
        width: 17px;
        font-weight: normal;
        @include flex(row, center, center);
        top: -8px;
        right: 10px;
      }
    }

    h5 {
      color: #3fd28b;
      font-size: 14px;
      margin: 0 16px;
      padding: 19px 0;
    }

    #dashboard {
      color: white;
      margin-bottom: 0px;
      padding-bottom: 19px;
      border-bottom: 4px solid white;
    }
  }
}
@media screen and (max-width: 1023px) {
  .navbar {
    .nav__option {
      #hamburger-menu {
        display: inline !important;
        margin-right: 24px;
      }

      .acc-img-nav {
        #acc-badge {
          top: 8px;
          right: 14px;
        }
        #account-image {
          margin-right: 16px;
        }
      }

      h5 {
        display: none !important;
      }
    }
  }
}
