@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand font 1/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand font 1/static/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand font 1/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand font 1/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand font 1/static/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  font-family: "Quicksand";
}
body .navbar {
  background-image: url("../images/header/header pattern svg.svg");
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: "Quicksand";
  font-weight: medium;
}
body .navbar img {
  margin: 9.5px auto 10.5px 24px;
}
body .navbar .nav__option {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
}
body .navbar .nav__option #hamburger-menu {
  display: none;
}
body .navbar .nav__option img {
  margin: auto 16px;
}
body .navbar .nav__option .acc-img-nav {
  position: relative;
}
body .navbar .nav__option .acc-img-nav #acc-badge {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 20px;
  color: #222222;
  height: 16px;
  width: 16px;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .navbar .nav__option .acc-img-nav #account-image {
  margin: 12px 24px 12px 16px;
  height: 32px;
  width: 32px;
}
body .navbar .nav__option .announcement {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
}
body .navbar .nav__option .announcement img {
  margin: 0;
}
body .navbar .nav__option .announcement .badge {
  background-color: #2a7ff3;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  text-align: center;
  position: absolute;
  height: 17px;
  width: 17px;
  top: -10px;
  right: 2px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .navbar .nav__option .alerts {
  position: relative;
  padding: 0 16px 0 16px !important;
}
body .navbar .nav__option .alerts img {
  margin: 0;
}
body .navbar .nav__option .alerts #alert-badge {
  background-color: #2a7ff3;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  text-align: center;
  position: absolute;
  height: 17px;
  width: 17px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: 10px;
}
body .navbar .nav__option h5 {
  color: #3fd28b;
  font-size: 14px;
  margin: 0 16px;
  padding: 19px 0;
}
body .navbar .nav__option #dashboard {
  color: white;
  margin-bottom: 0px;
  padding-bottom: 19px;
  border-bottom: 4px solid white;
}
@media screen and (max-width: 1023px) {
  body .navbar .nav__option #hamburger-menu {
    display: inline !important;
    margin-right: 24px;
  }
  body .navbar .nav__option .acc-img-nav #acc-badge {
    top: 8px;
    right: 14px;
  }
  body .navbar .nav__option .acc-img-nav #account-image {
    margin-right: 16px;
  }
  body .navbar .nav__option h5 {
    display: none !important;
  }
}
body .header {
  background-color: #8ddc97;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px;
}
body .header .header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .header .header__container .header__number {
  font-family: "Quicksand";
  font-size: 24px;
  font-weight: bolder;
  padding: 19px 8px;
}
body .header .header__container .header__fonts {
  font-family: "Quicksand";
  font-weight: medium;
  font-size: 16px;
}
body .header .header__courses {
  border-bottom: 4px solid #222222;
}
body .drop_down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  padding-bottom: 17px;
  border-bottom: 2px solid #e0e1e1;
  flex-wrap: wrap;
}
body .drop_down .drop_down__fonts {
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: medium;
  color: #686868;
}
body .drop_down .drop_down__right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
body .drop_down .drop_down__right #courses {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: #eeeeee;
  border: none;
  border-bottom: 1px solid #eeeeee;
  color: #222222;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: 1px solid #e0e1e1;
  margin: 0 24px 0 6px;
  width: 200px;
}
body .display {
  margin: 16px 24px auto 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 246px;
  grid-gap: 24px;
  font-family: "Quicksand";
  font-weight: bold;
}
body .display .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  padding-right: 16px;
  font-family: "Quicksand";
}
body .display .card .card__header {
  display: flex;
  width: 100%;
  margin-top: 24px;
}
body .display .card .card__header img {
  margin: 0px 16px 7px 24px;
}
body .display .card .card__header .card__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  font-size: 12px;
  color: #666666;
  width: 90%;
}
body .display .card .card__header .card__details .card__details__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #222222;
}
body .display .card .card__header .card__details .card__details__title .favourite {
  margin-right: 0px;
}
body .display .card .card__header .card__details .card__details__title #star {
  height: 24px;
  width: 24px;
  margin-right: 0;
}
body .display .card .card__header .card__details .card__details__subj-grade .card__details__subj-grade__subject {
  padding-right: 9px;
  margin-right: 9px;
  border-right: 2px solid #eeeeee;
}
body .display .card .card__header .card__details .card__details__subj-grade .green-fonts {
  color: #1f7a54;
}
body .display .card .card__header .card__details #classes_expire {
  margin-top: 17px;
}
body .display .card .card__header .card__details .card__details__about {
  margin-top: 7px;
  margin-bottom: 16px;
}
body .display .card .card__header .card__details .card__details__about .bold-fonts {
  font-weight: bold;
  color: #222222;
}
body .display .card .card__header .card__details .card__details__about .six-pixel-box {
  display: inline-block;
  width: 6px;
}
body .display .card .card__header select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 100%;
  border: none;
  border-bottom: 2px solid #e0e1e1;
  color: #222222;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: bold;
  width: 95%;
  padding: 2px auto 3px 0;
  margin-bottom: 8px;
  margin-right: 24px;
}
body .display .card .card__header .card__details__info .number-students {
  padding-right: 8px;
  border-right: 2px solid #eeeeee;
}
body .display .card .card__header .card__details__info .dates {
  margin-left: 9px;
}
body .display .card .card__footer {
  margin: 0 8px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #e0e1e1;
  width: auto;
  padding: 16px 24px 9px;
}
body .display .card .expire {
  display: inline;
  padding: 4px 7px 2px 5px;
  color: #d80000;
  background-color: #ffe4e6;
  position: absolute;
  font-size: 10px;
}
@media screen and (max-width: 1023px) {
  body .display {
    grid-template-columns: 1fr;
  }
}
body .footer {
  margin-top: 32px;
}
body .footer .footer__contacts {
  color: #1f7a54;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  font-family: "Quicksand";
  font-size: 14px;
  font-weight: medium;
}
body .footer .footer__contacts h5 {
  margin: 0;
}
body .footer .footer__contacts #footer__contacts__about {
  border-right: 1px solid #e0e1e1;
  margin-right: 10px;
  padding-right: 8px;
}
body .footer .footer__last {
  background-color: #e0e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: medium;
  margin-top: 16px;
}
body .footer .footer__last img {
  margin: 8px 0px;
  border-right: 1px solid #bbbcbc;
  padding-right: 16px;
}
body .footer .footer__last #footer__copyright {
  margin-left: 16px;
  margin-right: 8px;
}
body .footer .footer__last #footer__zeus {
  font-weight: bold;
  margin-right: 11px;
}/*# sourceMappingURL=dashboard.css.map */