.header {
  background-color: #8ddc97;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px;

  .header__container {
    @include flex(row, center, center);

    .header__number {
      font-family: $font;
      font-size: 24px;
      font-weight: bolder;
      padding: 19px 8px;
    }

    .header__fonts {
      font-family: $font;
      font-weight: medium;
      font-size: 16px;
    }
  }

  .header__courses {
    border-bottom: 4px solid #222222;
  }
}
